* {
  margin: 0;
  padding: 0;
}

:root {
  --ubuntu: "Ubuntu", sans-serif;
  --bold: 700;
  --normal: 400px;
  --purple: #9564aa;
}

.hide {
  display: none;
}

.purple {
  color: var(--purple);
}

.header {
  width: 100%;
  height: 3.125rem;
  background-color: #9564aa;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 1.0625rem 1.6875rem;
}

.burger {
  width: 1.4375rem;
  height: 0.875rem;
}

.diamond {
  width: 1.125rem;
  height: 0.938rem;
}

.first-section__title {
  font-family: var(--ubuntu);
  font-weight: var(--bold);
  font-size: 1.25rem;
  margin: 0.9375rem 1.25rem 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 2px solid #EAE0EE;
}

.first-section_button {
  display: block;
  font-family: var(--ubuntu);
  font-weight: var(--bold);
  font-size: 1rem;
  width: 17.5rem;
  height: 3.4375rem;
  background: #ffcf2d;
  border-radius: 0.625rem;
  border: 0px;
  margin: 0.9375rem auto;
}

.policy-text {
  font-family: var(--ubuntu);
  font-weight: var(--normal);
  font-size: 0.625rem;
}

.policy {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1.25rem;
}

.custom-checkbox {
  display: inline-block;
  width: 1.5rem;
  height: 1.25rem;
  background-color: #eee;
  border-radius: 0.3125rem;
  position: relative;
  margin-right: 0.625rem;
}

.policy input:checked + .custom-checkbox {
  background-color: #9564aa;
}

/* Создаем галочку на проверенном чекбоксе */
.custom-checkbox::after {
  content: "";
  display: none;
  position: absolute;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.policy input:checked + .custom-checkbox::after {
  display: block; /* Показ галочки при активном состоянии */
}

/* ///////////слайдер///////////// */
.slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
  display: none;
}

.buy {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 16.26rem;
  height: 3.6875rem;
  margin: 1.4375rem 1.25rem;
  padding-right: 33px;
  /* margin: 1.4375rem 1.25rem; */
  background-color: #9564aa;
  color: #fff;
  font-family: var(--ubuntu);
  font-weight: var(--bold);
  font-size: 1.5rem;
  border-radius: 0.625rem;
  scroll-snap-align: center;
  position: relative;
}

.offer {
    font-size: 0.875rem;
    color: #000000;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: #FFCF2D;
    font-family: var(--ubuntu);
  font-weight: var(--bold);
  text-align: center;
  position: absolute;
  left: -10px;
}

.credit {
  width: 1.0625rem;
  height: 1.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ubuntu);
  font-weight: var(--bold);
  border-radius: 50%;
  background-color: #ffcf2d;
  font-size: 0.5rem;
  color: #000000;
  margin: 0 0.5rem;
}

.slider-circles {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.circle {
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    background-color: #FFC500;
    transition: transform 0.3s, background-color 0.3s;
}

.circle-active {
    transform: scale(1.2);
    background-color:  orange;
}

/* ////////////ВТОРОЙ БЛОК////////////// */
.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section__logo {
  width: 5.0625rem;
  height: 4.1875rem;
}

.second-section__list {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  color: var(--purple);
  font-family: var(--ubuntu);
  font-weight: var(--bold);
  padding-left: 1.3125rem;
}

.second-section__list > li {
  display: flex;
  align-items: center;
  background: url("images/male.png") no-repeat left center;
  padding-left: 2.375rem;
  height: 2.375rem;
}
.second-section__list > li:nth-child(1) {
  background-image: url("images/male.png");
}

.second-section__list > li:nth-child(2) {
  background-image: url("images/eye.png");
}

.second-section__list > li:nth-child(3) {
  background-image: url("images/gift.png");
}

.second-section__list > li:nth-child(4) {
  background-image: url("images/heart.png");
}
